<!DOCTYPE html>
<html>
  <head>
    <title>Express Todo-List</title>
    <link rel="stylesheet" href="/components/components-font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/index.css">
  </head>
  <body>
    
	<div class="container" id="wrapper">
		<div class="row" id="title">
			<h1>你今天完成了沒？</h1>
		</div>

		<div class="row" id="newItemInput">
			<form action="./" method="POST" class="form-horizontal">
				<div class="form-group">
						<div class="col-md-10 col-md-offset-1">
				    	<input type="text" class="form-control" name="item" id="newItem" placeholder="新事項">
				    </div>
				 </div>
			</form>
		</div>

		<div class="row" id="todoList">
			
		</div>

		<h1>In Progress</h1>
		<div class="list-group" id="progress_box">
			<% items.forEach(function(item) { %>	
				<% if (!item.done) { %>
					<div class="list-group-item">
						<%= item.name %>
						<div class="operations pull-right">
							<button class="btn btn-primary btn-xs checked-btn" data-id=<%= item._id %>>完成</button>
							<button class="btn btn-danger btn-xs delete-btn" data-id=<%= item._id %>>刪除</button>
						</div>
						
					</div>
				<% } %>
			<% }); %>
		</div>

		<h1>Archive</h1>
		<div class="list-group" id="archive_box">
			<% items.forEach(function(item) { %>
				<% if (item.done) { %>	
					<div class="list-group-item">
						<del><%= item.name %></del>
						<div class="operations pull-right">
							<button class="btn btn-info btn-xs undo-btn" data-id=<%= item._id %>>復原</button>
						</div>
					</div>

				<% } %>
			<% }); %>
		</div>

		

	</div>


	<script src="/components/jquery/dist/jquery.min.js"></script>
  <script src="/components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/javascripts/index.js"></script>
  </body>
</html>
